In [50]:
import pandas as pd
import numpy as np
import math

# list for distance
dist_list = []
# list for hyper parameter
included = []

# dataset preparation
dataset = {'HEIGHT' : [158, 158, 158, 160, 160,163, 163, 160, 163, 165, 165, 165, 168, 168, 168, 170, 170, 170],
           'WEIGHT' : [58, 59, 63, 59, 60, 60, 61, 64, 64, 61, 62, 65, 62, 63, 66, 63, 64, 68],
           'T SHIRT SIZE' : ['M', 'M', 'M', 'M', 'M', 'M', 'M', 'L', 'L','L', 'L', 'L', 'L', 'L', 'L', 'L', 'L', 'L']}

data = pd.DataFrame(dataset)

In [51]:
# function for calculating distance
def getDist(index_param, point2) :
    temp_dist = math.sqrt(math.pow(data.loc[index_param, 'HEIGHT'] - point2['HEIGHT'],2)
                 + (math.pow(data.loc[index_param, 'WEIGHT'] - point2['WEIGHT'],2)))
    dist_list.append(temp_dist)

# function for finding points that is in the boundary of hyper parameter
def find_nearest(hyperParam) :
    for i in range(len(data)) :
        if(i < hyperParam) :
            included.append(data.loc[i, 'T SHIRT SIZE'])
        else :
            return

# function for prediction
def count_size() :
    Mcount = 0
    Lcount = 0
    for i in range(len(included)) :
        if included[i] == 'M' :
            Mcount += 1
        elif included[i] == 'L' :
            Lcount += 1
    if(Mcount > Lcount) :
        print("new data's size is M")
    elif(Mcount < Lcount) :
        print("new data's size is L")
    else :
        print("size is equal")

In [52]:
input_dict = {'HEIGHT' : 178,
              'WEIGHT' : 73}

for i in range(len(data)):
    getDist(i, input_dict)

dist_list = {'DISTANCE' : dist_list}
dist_list_df = pd.DataFrame(dist_list)
data = pd.concat([data, dist_list_df], axis=1)
data.sort_values(by='DISTANCE', axis=0, inplace=True)

find_nearest(5)
count_size()

new data's size is M

In [53]:
data

    HEIGHT  WEIGHT T SHIRT SIZE   DISTANCE
17     170      68            L   9.433981
16     170      64            L  12.041595
14     168      66            L  12.206556
15     170      63            L  12.806248
13     168      63            L  14.142136
12     168      62            L  14.866069
11     165      65            L  15.264338
10     165      62            L  17.029386
8      163      64            L  17.492856
9      165      61            L  17.691806
6      163      61            M  19.209373
5      163      60            M  19.849433
7      160      64            L  20.124612
4      160      60            M  22.203603
2      158      63            M  22.360680
3      160      59            M  22.803509
1      158      59            M  24.413111
0      158      58            M  25.000000