In [6]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
data = pd.read_csv('data/Mobile_data/train.csv')
X = data.iloc[:,0:20] #independent columns
y = data.iloc[:,-1] #target column, i.e., price range

bestfeatures = SelectKBest(score_func=chi2, k=10)
fit = bestfeatures.fit(X,y)             # bestfeatures에서 chi2를 쓰고, 10개를 골라낸다고 미리 선언해둔 뒤에 fit 함수를 통해서 ML?
dfcolumns = pd.DataFrame(X.columns)
dfscores = pd.DataFrame(fit.scores_)
#concatenate two dataframes for better visualization
featureScores = pd.concat([dfcolumns, dfscores],axis=1)
featureScores.columns = ['Specs', 'Score']
print(featureScores.nlargest(10,'Score'))

            Specs          Score
13            ram  931267.519053
11      px_height   17363.569536
0   battery_power   14129.866576
12       px_width    9810.586750
8       mobile_wt      95.972863
6      int_memory      89.839124
15           sc_w      16.480319
16      talk_time      13.236400
4              fc      10.135166
14           sc_h       9.614878

In [7]:
housing_data = pd.read_csv('data/California_Housing_Price/housing.csv')
target_feature = housing_data.iloc[:, -2]
independent_feature_first = housing_data.iloc[:, 0:8]
need_encoding = housing_data.iloc[:, [-1]]
one_hot_encoder = OneHotEncoder()
after_one_hot = one_hot_encoder.fit_transform(need_encoding)
# independent_feature = pd.concat([independent_feature_first, after_one_hot.toarray()], axis=1)    # independent
independent_feature = np.c_[independent_feature_first, after_one_hot.toarray()]
print(independent_feature)

[[-122.23   37.88   41.   ...    0.      1.      0.  ]
 [-122.22   37.86   21.   ...    0.      1.      0.  ]
 [-122.24   37.85   52.   ...    0.      1.      0.  ]
 ...
 [-121.22   39.43   17.   ...    0.      0.      0.  ]
 [-121.32   39.43   18.   ...    0.      0.      0.  ]
 [-121.24   39.37   16.   ...    0.      0.      0.  ]]

In [8]:
housing_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [20]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
housing_data = pd.read_csv('data/California_Housing_Price/housing.csv')
target_feature = housing_data.iloc[:, -2]
independent_feature_first = housing_data.iloc[:, 0:8]
need_encoding = housing_data.iloc[:, [-1]]
# sparse=False로 지정해주어야 우리가 원하는 예쁜 그림이 나온다.
one_hot_encoder = OneHotEncoder(sparse=False)
after_onehot = one_hot_encoder.fit(need_encoding)
independent_feature_second = pd.DataFrame(one_hot_encoder.transform(need_encoding), columns=one_hot_encoder.categories_[0]) # 핵심 코드
independent_feature = pd.concat([independent_feature_first, independent_feature_second], axis=1)    # independent feature
independent_feature = independent_feature.fillna(0)
# 여기까지 one hot encoding은 완료되었다.
# independent_feature = one_hot_encoder.fit_transform(independent_feature)
# 왜 drop이 안되는거지? longitude를 drop해야 하는데
independent_feature.drop('longitude', axis='columns', inplace=True)
bestfeatures = SelectKBest(score_func=chi2, k=10)
fit = bestfeatures.fit(independent_feature, target_feature)
dfcolumns = pd.DataFrame(independent_feature.columns)
dfscores = pd.DataFrame(fit.scores_)
featureScores = pd.concat([dfcolumns, dfscores],axis=1)
featureScores

                     0             0
0             latitude  5.908905e+02
1   housing_median_age  2.319302e+04
2          total_rooms  9.772920e+06
3       total_bedrooms  1.437937e+06
4           population  3.988363e+06
5           households  1.303777e+06
6        median_income  1.171746e+04
7            <1H OCEAN  3.746993e+03
8               INLAND  6.565265e+03
9               ISLAND  1.828133e+03
10            NEAR BAY  4.079131e+03
11          NEAR OCEAN  3.993245e+03